
.EditButton {
    text-align:right;
    font-family: 'Raleway', sans-serif;
  }
  
  input {
    width: 300px;
    height: 30px;
    padding: 20px;
    margin: 18px;
    font-size: 18px;
    border-radius: 5px;
  }
  
  button:disabled {
    padding: 10px 20px;
    font-size: 18px ;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 18px;
  }
  
  button:enabled {
    padding: 10px 20px;
    font-size: 18px ;
    background-color: rgb(231, 80, 80);
    color: blue;
    padding: 10px;
    font-size: 18px;
  }