.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background-gradient {
  background: linear-gradient(rgba(245, 245, 245), rgba(245, 245, 245, 0));
}

.background-style {
  background: linear-gradient(
    136deg,
    #008080,
    #1ad7c0,
    #808000,
    #9b59b6,
    #800000,
    #ff00ff);

    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 70s ease infinite;
    -moz-animation: AnimationName 70s ease infinite;
    -o-animation: AnimationName 70s ease infinite;
    animation: AnimationName 70s ease infinite;
    height: 100%;

}
