.DesignPanel__container {
  /* for the buttons */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 130px;
  padding: 5px;
  justify-content: space-around;
}

.DesignPanel__button {
  height: 40px;
  width: 60px;
  background: white;
  color: black;
  opacity: 0.5;
  margin-bottom: 10px;
}
