.DesignPanel__container {
  /* for the buttons */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  width: 300px;
  margin: 15rem 6rem;
  padding: 2rem;
  border: 3px solid rgb(143, 143, 142);
  background-color: rgb(144, 140, 255);
}

.DesignPanel__button {
  font-size: 15px;
  height: 50px;
  width: 80px;
  opacity: 0.5;
  margin: 0.5rem 2rem 0.5rem 2rem;
  color: rgb(126, 124, 188);
}
