
.PadButton {
    width: 150px;
    height: 50px;
  
    background-color: #ccc;
    border: 2px solid black;
  
    display: grid;
    place-items: center;
  }
  
  .PadButton-text {
    font-size: 32px;
  }
  section {
    float: left;
    margin: 0 1.5%;
    width: 63%;
  }
  aside {
    float: right;
    margin: 0 1.5%;
    width: 30%;
  }

  