
.heading{
  text-align: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(81, 18, 100, .75);
  font-size: 40px;
  
}

.board {
  display: flex;
  justify-content: center;
  font-size: bold;
  align-items: center;
  
}
.design-board {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid rgba(46, 47, 48, 0.75);
}
.squareColorChanged {
  background: grey;
  border: 1px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 250px;
  height: 250px;
  margin-left: -45px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 250px;
}

.square {
  /*background: grey;*/
  border: 1px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  height: 250px;
  margin-right: -5px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 250px;
  line-height: 250px;
}
.pad-box {
  background: rgb(252, 244, 244);
  border: 10px solid rgba(46, 47, 48, 0.35);
  float: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  height: 500px;
  margin-right: -5px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 250px;
}

.pad_Item{
  text-align: center;
  padding: 10px;
}

.board-row:after {
  clear: both;
  content: "";
  /* display: table;*/
  /* align-items: center;
  justify-content: center;*/
}
.button {
  float: right;
  background-color: #585858de;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.edit-active {
  float: right;
  background-color: #f529ebfb;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
