.design-board {
  display: flex;
  justify-content: center;
  font-size: bold;
  align-items: center;
}

.square {
  background: grey;
  border: 1px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 250px;
  height: 250px;
  margin-right: -5px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 250px;
}
.pad-box {
  background: aqua;
  border: 1px solid #999;
  float: left;
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
  height: 500px;
  margin-right: -5px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 250px;
}
.game {
  text-align: center;
  float: center;
  flex-direction: row;
  align-items: center;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
  align-items: center;
  justify-content: center;
}
.button {
  float: right;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.edit-active {
  float: right;
  background-color: #cc4915;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
