.wpad {
    flex-wrap: inherit;
    padding: 30;
    margin: 0;
    display: inline-block;
    width: 400px;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    border-radius: 25px;
    top: -200px;
    left: 700px;
    position: relative;
  }
  

  .pad-container {
    flex-wrap: inherit;
    display: grid;
    grid-template-columns: 50% 50%;
    width: 40vw;
    height: 30vw;
    align-items: center;
    justify-content: space-evenly;
  }