.padInput {
    width: 10vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    border: 5px solid grey;
}

.padInput tbody tr {
    margin-top: 3vh;
    display: flex;
    justify-content: space-around;
}

.padInput tbody tr td {
    width: 4vw;
    height: 2vh;
    text-align: center;
    border: 1px solid grey;
}

.padInputOn {
    pointer-events: click;
    background-color: blue;
}

.padInputOn tr td {
    background-color: white;
}

.padInputOff {
    pointer-events: none;
}