
.main-container {
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    width: 100px;
    background-color: chocolate;
  }
  

  .tableBlue{
     height: 40px;
     border: 2px lightgray solid;
     background-color: blue;
     border-radius: 5px;
   }

    .tableRed{
     height: 40px;
     border: 2px lightgray solid;
     background-color: red;
     border-radius: 5px;
   }

    .tablePurple{
     height: 40px;
     border: 2px lightgray solid;
     background-color: purple;
     border-radius: 5px;
   }

    .tableGreen{
     height: 40px;
     border: 2px lightgray solid;
     background-color: green;
     border-radius: 5px;
   }	

    .tablePink{
     height: 40px;
     border: 2px lightgray solid;
     background-color: pink;
     border-radius: 5px;
   }

    .tableYellow{
     height: 40px;
     border: 2px lightgray solid;
     background-color: yellow;
     border-radius: 5px;
   }

    .tableBrown{
     height: 40px;
     border: 2px lightgray solid;
     background-color: brown;
     border-radius: 5px;
   }

    .tableOrange{
     height: 40px;
     border: 2px lightgray solid;
     background-color: orange;
     border-radius: 5px;
   } 
