.flex-container {
    
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(152, 168, 184);
    width: 200px;
    height: 350px;
    left: 70px;
}

.flex-container > div {
    border-color: white;
    background-color: grey;
    width: 80px;
    height: 30px;
    margin: 10px;
    text-align: center;
}
