.editButton {
    background-color: black;
    color: white;
    font-size: x-large
}

.editButtonInitiated {
    position: absolute;
    top: 40px;
    right: 10%;
    padding: 10px 20px;
    background-color: green;
    color: white;
    font-size: x-large
}

.deselectButton {
    background-color: black;
    color: white;
    font-size: x-large;
}