.main-container {
    border: 2px solid lightgray;
    padding: 20px;
    margin: 20px;
    width: 100px;
    background-color: yellowgreen;
    border-radius: 15px;
    margin-left: 100px;
}

.tableGreen {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: green;
    border-radius: 5px;
}
.tableYellow {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: yellow;
    border-radius: 5px;
}
.tablePurple {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: purple;
    border-radius: 5px;
}
.tableNavy {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: navy;
    border-radius: 5px;
}
.tablePink {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: pink;
    border-radius: 5px;
}
.tableOrange {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: orange;
    border-radius: 5px;
}
.tableOrangeRed {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: orangered;
    border-radius: 5px;
}
.tableBlueViolet {
    color:white;
    height: 40px;
    border: 2px lightgray solid;
    background-color: blueviolet;
    border-radius: 5px;
}