.design-board1 {
    position: relative;
    left: 350px;
    top: 100px;
    width: 350px;
    height: 250px;
    border-radius: 30px;
  }


.App-header {
  background-color: grey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.design-board2 {
    position: relative;
    left: 350px;
    top: 103px;
    width: 350px;
    height: 250px;
    border-radius: 30px;
  }

.design-board3 {
    position: relative;
    left: 702px;
    bottom: 400px;
    width: 350px;
    height: 250px;
    border-radius: 30px;
  }





button
{

  background-color: teal;
  color: white;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  position: absolute;
  top: 30px;
  right: 40px;
}


button:focus{
  background-color: magenta;
} 






.h1
{
  color:black;
  text-align: center;
  position: absolute;
  bottom: 85%;

}

.choices
{
  position: absolute;
  left: 50px;
  width: 20%;
  height: 50%;
  border: 3px solid gold;
  background-color: turquoise;
  font-size:20px;
  bottom: 20%;
  
}

.PadInput {
  border: 5px solid yellow;
  height: 250px;
  width: 150px;
  background-color: black;
}
.list button{
  background-color: black; 
  border: 1px solid silver; 
  color: white; 
  padding: 8px 20px; 
  cursor: pointer; 
  float:none; 
  margin-bottom: 20%;
  margin-inline: 5px;
  
  
  right: 50px;
 
}
.list li{
  position:relative;
  top: 550px;
  list-style-type:none;
}

.design-board4 {
    position: relative;
    left: 702px;
    bottom: 397px;
    width: 350px;
    height: 250px;
    border-radius: 30px;
    }
