.entire_container div {
    height: 70px;
    width: 100px;
    border-radius: 20px;
    border: 2px #ccc solid;
    padding: 5px;
    background-color: lightcyan;
    box-shadow: 0 10px 40px lightblue;
    font-family: 'Avenir Next', sans-serif;
    justify-content: space-around;
    width: 50%;  
    }

