*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.design-container {
  padding: 100px 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

.design-pad {
  width: 50%;
  background: grey;
  border-radius: 40px;
  border: 1px solid grey;
}

.design-board {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.pad-input {
  list-style: none;
  flex: 0.5;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  padding: 40px;
  justify-content: center;
  background: yellow;
  margin-right: 20px;
}

.pad-input.disabled {
  opacity: 0.4;
  pointer-events: none;
}

.pad-input li {
  list-style-type: none;
  width: 40%;
  background-color: white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.design-board {
  flex: 1.5;
}

.edit-button {
  position: absolute;
  top: 30px;
  right: 100px;
  padding: 15px 30px;
  background-color: red;
  color: white;
}

.edit-button.disabled {
  background-color: black;
  border: none;
}


.pad-1 {
  background-color: black;
}  

.pad-2 {
  background-color: aqua;
}

.pad-3 {
  background-color: greenyellow;
}

.pad-4 {
  background-color: orangered;
}

.pad-5 {
  background-color: plum;
}

.pad-6 {
  background-color: azure;
}

.pad-7 {
  background-color: pink;
}

.pad-8 {
  background-color: blanchedalmond;
}
