body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(to right, rgb(167, 158, 175), rgb(0, 0, 255)) repeat scroll 0% 0%; ;
}

code {

  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',    monospace;
}