.DesignBoard-container {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 250px 250px;
    position: absolute;
    left: 500px;
    top: 200px;
    right: 40px;
    width: 400px;
    height: 400px;
 }

.DesignBoard-box1 {
    background: grey;
    border: 1px solid;
}

.DesignBoard-box2 {
    background: grey;
    border: 1px solid;
}

.DesignBoard-box3 {
    background: grey;
    border: 1px solid;
}

.DesignBoard-box4 {
    background: grey;
    border: 1px solid;
}
.DesignBoard-h1{
    text-align:"center";
    line-height:"250px";
    position: absolute;
    left: 620px;
    top: 75px;
    font-size: 55px;
    font-family: "Times New Roman", Times, serif;
}

.PadInput-container{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 75px 75px 75px 75px;
    border: 1px solid;
    position: absolute;
    left: 150px;
    top: 300px;
    right: 40px;
    width: 200px;
    height: 340px;
    background: #676dbb;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#PadInput-h1{
    text-align:"center";
    line-height:"250px";
    position: absolute;
    left: 155px;
    top: 220px;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
}
.PadInput-box1 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 15px;
    margin-top: 35px;
    line-height: 40px;
}
.PadInput-box2 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 5px;
    margin-top: 35px;
    line-height: 40px;
}
.PadInput-box3 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 15px;
    margin-top: 35px;
    line-height: 40px;
}
.PadInput-box4 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 5px;
    margin-top: 35px;
    line-height: 40px;
}
.PadInput-box5 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 15px;
    margin-top: 35px;
    line-height: 40px;
}
.PadInput-box6 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 5px;
    margin-top: 35px;
    line-height: 40px;
}

.PadInput-box7 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 15px;
    margin-top: 35px;
    line-height: 40px;
}

.PadInput-box8 {
    background: white;
    border: 1px solid;
    width:80px;
    height:40px;
    text-align:center;
    align-items: center;
    margin-left: 5px;
    margin-top: 35px;
    line-height: 40px;
}


.EditButton{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.EditButtonActive{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 80px;
    top: 30px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

